{% extends 'quiz_app/index.html' %}


{% block title %}
 Profile |
{% endblock %}


{% block content %}
    <h1 style="text-align: center;">
        Your Profile
    </h1>
    <div style="text-align: center;">
        {% if user_scores %}
        <table style="margin: auto; width: 50%;" border="1">
            <tr>
                <th> Competition Name </th>
                <th> Your Score </th>
            </tr>
            {% for user_score in user_scores %}
                <tr>
                    <td> {{ user_score.topic }} </td>
                    <td> {{ user_score.score }} </td>        
                </tr>
            {% endfor %}
        {% else %}
            <h3>You haven't attempted any quiz yet.</h3>
        {% endif %}
        </table>
    </div>

{% endblock %}