{% extends 'quiz_app/index.html' %}

{% block title %}
Topics |
{% endblock title %}


{% block style %}

a{
    color:blanchedalmond ; 
}

a:hover{
    color: antiquewhite;
}

{% endblock %}


{% block content %}
    {% if topics %}
    <ol>
    {% for topic in topics %}
        <li>
            <a href="{% url 'quiz_app:quiz_question' room_name=room topic=topic %}">
                {{topic}}
            </a>
        </li>
    {% endfor %}
    </ol>
    {% else %}
    <h2>Topics will be available soon.</h2>
    {% endif %}
    <p>
        {% if request.user == room.user %}
            <a href="{% url 'quiz_app:create-topic' room.name %}">Click here</a> to create more topics.
        {% endif %}
    </p>
{% endblock %}